In [31]:
for row in rows:
  print(row)
print("\n")

cur.execute("SELECT * from Users where Id=2")
rows= cur.fetchall()
for row in rows:
  print(row)
print("\n")

# con.execute("DELETE from Users where Id=1")
# con.commit()
# print("Updated Table")

cur.execute("SELECT * from Users")
rows= cur.fetchall()
for row in rows:
  print(row)

(2, 'arman')
(2, 'haider')
(2, 'arman')
(2, 'haider')


(2, 'arman')
(2, 'haider')
(2, 'arman')
(2, 'haider')


(1, 'abbas')
(2, 'arman')
(3, 'umar')
(1, 'eram')
(2, 'haider')
(3, 'shagul')
(34534, 'abbas')
(1, 'abbas')
(2, 'arman')
(3, 'umar')
(1, 'eram')
(2, 'haider')
(3, 'shagul')
(34534, 'abbas')

In [33]:
id = int(input("ENTER THE ID:-"))
name = input("ENTER THE NAME:-")
conn = sql.connect('abbas2.db')

ENTER THE ID:-786
ENTER THE NAME:-ABBAS

In [53]:
conn = sql.connect('abbas2.db')
with conn:
    cur = conn.cursor()
    cur.execute("CREATE TABLE IF NOT EXISTS USER(ID INT,NAME VARCHAR)")
    cur.execute("INSERT INTO USER VALUES(1,'ABBAS')")
    cur.execute("INSERT INTO USER VALUES(2,'UMAR')")
    cur.execute("INSERT INTO USER VALUES(3,'ARMAN')")
    cur.execute("INSERT INTO USER VALUES(1,'HAIDER')")
    cur.execute("INSERT INTO USER VALUES(2,'ERAM')")
    cur.execute("SELECT * FROM USER")

IndentationError: unexpected indent (2063065141.py, line 3)

In [36]:
row = cur.fetchall()
for rows in row:
    print(rows,'/n')

(1, 'ABBAS')
(2, 'UMAR')
(3, 'ARMAN')
(1, 'HAIDER')
(2, 'ERAM')

In [37]:
cur.execute("SELECT * FROM USER WHERE ID=1")
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'ABBAS')
(1, 'HAIDER')

In [51]:
cur.execute("SELECT * FROM USER")
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'ABBAS')
(3, 'ARMAN MURUDKAR')
(1, 'HAIDER')
(2, 'HAIDER')

In [45]:
cur.execute("DELETE FROM USER WHERE ID=2")
rows = cur.fetchall()
for row in rows:
    print(row)
print("table updated")

table updated

In [47]:
cur.execute("UPDATE USER SET NAME ='ARMAN MURUDKAR' WHERE NAME='ARMAN' ")
rows = cur.fetchall()
for row in rows:
    print(row)

In [52]:
cur.execute("INSERT INTO USER (ID,NAME) VALUES(2,'HAIDER')")
rows = cur.fetchall()
for row in rows:
    print(row)

In [55]:
cur.execute("SELECT MAX(ID)'MAXIMUM',NAME 'PARENTS' FROM USER ")
rows = cur.fetchall()
for row in rows:
    print(row)

(3, 'ARMAN MURUDKAR')