In [1]:
import sqlite3 as sql
id = int(input("ENTER THE ID:- "))
name = str(input("ENTER THE NAME:- "))
con = sql.connect("ABBAS4.db")
if(con):
    print('CONNECTION SUCCESSFULL')
else:
    print("CONNECTION FAILED")

ENTER THE ID:- 786
ENTER THE NAME:- ABBAS
CONNECTION SUCCESSFULL

In [2]:
con = sql.connect("ABBAS4.db")
with con:
    cur = con.cursor()
    cur.execute("CREATE TABLE IF NOT EXISTS EMP(ID INT(10) PRIMARY KEY, NAME VARCHAR(10), JOB VARCHAR(10))")
    cur.execute("INSERT INTO EMP VALUES(1,'ABBAS','ENGG')")
    cur.execute("INSERT INTO EMP VALUES(3,'ERAM','MEDICAL')")
    cur.execute("SELECT * FROM EMP")

IntegrityError: UNIQUE constraint failed: EMP.ID

In [3]:
rows = cur.fetchall()
for row in rows:
    print(row)

InterfaceError: Cursor needed to be reset because of commit/rollback and can no longer be fetched from.